@model SuperVet.ViewModels.BreedViewModel
<form method="post" asp-action="Edit">
	<div class="form-group">
		<label asp-for="Name">Breed Name</label>
		<input asp-for="Name" class="form-control" placeholder="Breed Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description">Description</label>
		<input asp-for="Description" class="form-control" placeholder="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Image">Image URL</label>
		<input asp-for="Image" class="form-control" placeholder="Image URL" />
		<span asp-validation-for="Image" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Animal Group</label>
		<select onchange="changeAnimalGroup()" id="PetId" name="PetId" asp-for="PetId" class="form-control">
			<option disabled selected value="Select Animal Group">Select Animal Group</option>
			@foreach (var opt in Model.Pets)
			{
				<option value="@opt.Id">@opt.Name</option>
			}
		</select>
		<span asp-validation-for="PetId" class="text-danger"></span>
	</div>
	<div id="species" class="form-group">
		<label>Species</label>
		<select id="speciesId" name="SpeciesId" asp-for="SpeciesId" class="form-control"></select>
		<span asp-validation-for="SpeciesId" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
	
	
	
		

	const changeAnimalGroup = () => {
		const species = document.getElementById("species")
		const speciesId = document.getElementById("speciesId");
		const PetId = document.getElementById("PetId");
		Array.from(speciesId.children).map(c => speciesId.remove(c));
		const selectedPetId = PetId.value;
		const speciesOptions = Array.from(@Json.Serialize(Model.Species));
		const filtered = speciesOptions.filter(s => s.petId == selectedPetId);
			
		if (filtered.length < 1) {
			const noData = document.createElement('option');
			noData.value = null;
			noData.innerHTML = "There are no species in this Animal Group";
			noData.disabled=true;
			noData.selected = true;
			speciesId.appendChild(noData);
		} else {
			const defaultOption = document.createElement("option");
			defaultOption.value = "Select Species";
			defaultOption.innerHTML = "Select Spceies";
			defaultOption.selected = true;
			defaultOption.disabled = true;
			speciesId.appendChild(defaultOption);
			filtered.forEach(s => {
				const option = document.createElement("option");
				option.value = s.id;
				option.innerHTML = s.name;
				if (@Model.SpeciesId==s.id){
					option.selected = true;
				}
				speciesId.appendChild(option);
			})
		}
	}
	changeAnimalGroup();
</script>
