@{
    ViewData["Title"] = "Home Page";
}

<div class=" container position-relative d-flex justify-content-center align-items-center">
    <h1 class="position-absolute align-self-start fw-bolder display-5 text-info">SuperVet</h1>
    <img class="img-fluid" src="https://media.wired.com/photos/593261cab8eb31692072f129/master/w_2560%2Cc_limit/85120553.jpg" />
    <cite class="position-absolute align-self-end mb-3 text-center text-info fw-bold h4 bg-transparent">A place where <span class="fw-bolder">I LEARN</span> ASP.Net and <span class="fw-bolder">YOU LEARN</span> about Animals</cite>
</div>
