@model Breeds
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>   

    @if (Model == null)
    {
       @Html.Partial("NotFound")
    }
    else
    {
        <img width="300" height="200" src="@Model.Image"/>
        <h1>@Model.Name</h1
        <p>@Model.Description</p>
        
    }
</div>
