@model Species

<h2>Are you sure you want to delete @Model.Name</h2>
<form method="post" asp-action="Delete">
	<div class="form-group">
		<label asp-for="Name">Animal Group</label>
		<input asp-for="Name" class="form-control" placeholder="Animal Group" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description">Description</label>
		<input asp-for="Description" class="form-control" placeholder="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Image">Image URL</label>
		<input asp-for="Image" class="form-control" placeholder="Image URL" />
		<span asp-validation-for="Image" class="text-danger"></span>
	</div>
</form>
<div class="form-group">
	<form asp-action="DeleteSpecies" method="post">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Yes" class="btn btn-danger" />
	</form>
</div>